@media (max-width: 500px){
  .home{
    margin: 5% 5%;
    &-title{}
    &-body{
      display: block;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 10px;
      &-left{
        width: 100%;
        border-right : none;
        border-bottom : 1px solid #A8A196;
        .left-img{
          img{}
        }
        .left-title{
          .details{
            .author{}
          }
          .icon{}
        }
        .left-description{}
        .left-rate{}
        .left-type{}
      }
      &-right{
        width: 100%;
        padding: 10px;
        margin-top : 20px;
        .right-title{
          h3{}
          .method-payment{}
        }
        .stripe-card{
          display: block;
          width: 100%;
          .right-credit-card{
            width: 100%;
            .credit-card-header{
              .header-title{}
              .header-logo{}
            }
            .credit-card-bottom{
              display: block;
              .name{
                width: 100%;
                .mb-3{
                  input{}
                  input:focus{}
                }
              }
              .expiry-date{}
            }
          }
          .right-backend-credit-card{
            width: 100%;
            padding: 10px;
            position: relative;
            .container-cvc{
              position: inherit;
              display: flex;
              .logo-credit-card{
                padding-right: 10px;
              }
            }
          }
        }
        .right-price{
          .small-title{}
          .price{}
        }
        .right-button{
          button{
            width: 100%;
          }
        }
      }
    }
  }
  .text-created-by{}
}
