<div class="home">
  <div class="home-title">
    <h2>Paiement With Ngx Stripe</h2>
  </div>

  <div class="home-body">
    <!--  Left side  -->
    <div class="home-body-left">
      <div class="left-img">
        <img
          src="https://www.warehouse-nantes.fr/media/cache/square_1000/images/artist_image/5c8f96b61520f003468326.jpg"
          alt="alkpote l'empereur">
      </div>
      <div class="left-title">
        <div class="details">
          <span class="author">Al K-Pote</span>
          <span class="created-by">
          By
            <span class="text-created-by">
              Brice Sébastien
            </span>
        </span>
        </div>
        <div class="icon">
          <i class="fa-solid fa-bars-staggered"></i>
        </div>
      </div>
      <div class="left-description">
        <p>
          De son vrai nom Atef Kahlaoui, né le 3 février 1981 à Paris 10e,
          est un rappeur d'origine tunisienne
        </p>
      </div>
      <div class="left-rate text-warning">
        <i class="fa-solid fa-star "></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star "></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
      </div>
      <div class="left-type">
        Rapeur français
      </div>
    </div>
    <!--  Right side  -->
    <div class="home-body-right">
      <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest!">
      <div class="right-title">
        <h3>Credit card</h3>
        <span class="method-payment">
          Change the Payment method
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      </div>
      <div class="right-credit-card">
        <!--  Name  -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
          <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions"
          >
          </ngx-stripe-card>

      </div>
      <div class="right-price">
        <span class="small-title">
          price
        </span>
        <span class="price ">
          <span class="text-created-by"><b>2500 </b></span>€
        </span>
        <span class="device">
        </span>
      </div>
      <div class="right-button">
        <button type="submit" class="btn btn-primary">Pay now</button>
      </div>
      </form>
    </div>

  </div>
</div>
